<div class="row">
    <div class="col-12" [class.col-lg-6]="!expand.year">
        <mat-card class="chart-card">
            
            <mat-card-content>
                <button type="button" class="btn btn-sm btn-outline-info float-right" (click)="expandToggle('year')">
            <fa-icon [icon]="faExpandAlt"></fa-icon>
          </button>
        <chart [type]="type" [data]="data" [options]="options"></chart>
        </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12" [class.col-lg-6]="!expand.givenTenant">
        <mat-card class="chart-card">
            
            <mat-card-content>
                <button type="button" class="btn btn-sm btn-outline-info float-right" (click)="expandToggle('givenTenant')">
            <fa-icon [icon]="faExpandAlt"></fa-icon>
          </button>
        <chart [type]="type" [data]="givenTenantData" [options]="givenTenantOptions"></chart>
        </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-12" [class.col-lg-6]="!expand.perSec">
        <mat-card class="chart-card">
            
            <mat-card-content>
                <button type="button" class="btn btn-sm btn-outline-info float-right" (click)="expandToggle('perSec')">
            <fa-icon [icon]="faExpandAlt"></fa-icon>
          </button>
        <chart [type]="type" [data]="perSecData" [options]="perSecOptions"></chart>
        </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12" [class.col-lg-6]="!expand.duration">
        <mat-card class="chart-card">
            
            <mat-card-content>
                <button type="button" class="btn btn-sm btn-outline-info float-right" (click)="expandToggle('duration')">
            <fa-icon [icon]="faExpandAlt"></fa-icon>
          </button>
        <chart [type]="type" [data]="durationData" [options]="durationOptions"></chart>
        </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-12" [class.col-lg-6]="!expand.throughput">
        <mat-card class="chart-card">
            
            <mat-card-content>
                <button type="button" class="btn btn-sm btn-outline-info float-right" (click)="expandToggle('throughput')">
            <fa-icon [icon]="faExpandAlt"></fa-icon>
          </button>
        <chart [type]="type" [data]="throughputData" [options]="throughputOptions"></chart>
        </mat-card-content>
        </mat-card>
    </div>
</div>