
<!-- <div class="menus">
    <button type="button" class="btn btn-sm text-dark" routerLink="transaction-performance" routerLinkActive="btn-outline-dark">Transaction Performance</button>
    <button type="button" class="btn btn-sm text-dark" routerLink="transaction-type" routerLinkActive="btn-outline-dark">Transaction Type</button>
    <button type="button" class="btn btn-sm text-dark" routerLink="transaction-status" routerLinkActive="btn-outline-dark">Transaction Status</button>
    <button type="button" class="btn btn-sm text-dark" routerLink="error-analysis" routerLinkActive="btn-outline-dark">Error Analysis</button>
        
</div> -->

<!-- <router-outlet></router-outlet> -->


<div class="container bg-light">
    <div class="row mx-0 mt-3">
      <div class="col-12 col-md-12 p-0">
        <h4 class="text-header m-0"></h4>
      </div>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead class="bg-table-header">  
          <tr style="text-align: center;">
            <th> S.No</th>
            <th> Service Name</th>
            <th>Service Description</th>
        </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>01</td>
            <td>Validation</td>
            <td>Description about validation</td>
          </tr>
          <tr style="text-align: center;">
            <td>02</td>
            <td>Compliance</td>
            <td>Description about Compliance</td>
           </tr>
           <tr style="text-align: center;">
            <td>03</td>
            <td>Transformation</td>
            <td>Description about Transformation</td>
           </tr>
        </tbody>
    
      </table>

     <button class="btn btn-info">Add Service</button>






</div>
