<div class="container bg-light">
        <div class="row mx-0 mt-3">
          <div class="col-12 col-md-12 p-0">
            <h4 class="text-header m-0">Edit Flow</h4>
          </div>
        </div>
    </div>
    <form>
        <!-- <div class="form-group form-inline">
          Search Country:
          <input class="form-control ml-2" type="text" [formControl]="filter" />
        </div> -->
        <nav class="navbar navbar-light bg-light mt-3">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Flow Name" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
      </form>

      <table class="table table-striped table-bordered">
        <thead class="bg-table-header">  
          <tr style="text-align: center;">
            <th> S.No</th>
            <th> Flow Name</th>
            <th>Applicable Service</th>
            <th> Created Date/Time</th>
            <th> Modified Date/Time</th> 
            <th>Action <br>Edit</th>
    
        </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>01</td>
            <td>Incoming Payments</td>
            <td>Validation, Compliance</td>
            <td>30/11/2021, 11:5:25 AM</td>
            <td>30/11/2021, 11:5:25 AM</td>
            <td>&nbsp;  <i class="fa fa-edit mx-auto"></i></td>
    
          </tr>
          <tr style="text-align: center;">
            <td>02</td>
            <td>Outgoing Payments</td>
            <td>Compliance, Transformation</td>
            <td>01/12/2021, 3:30:25 PM</td>
            <td>01/12/2021, 3:30:25 PM</td>
            <td> &nbsp;  <i class="fa fa-edit mx-auto"></i></td>
    
          </tr>
        </tbody>
    
      </table>
     